<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Khách hàng</title>
</head>
<body>
<div>
    <a href="/create-khachhang">Tạo mới khách hàng</a>
    <a href="/so">Danh sách sổ tiết kiệm</a>
</div>
<h1>Khách hàng</h1>
<table border="1">
    <tr>
        <th>STT</th>
        <th>Tên</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="khachHang,loop : ${khachHangs}">
        <tr>
            <td th:text="${loop.count}"></td>
            <td th:text="${khachHang.tenKhachHang}"></td>
            <td><a th:href="@{/edit-khachhang/__${khachHang.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-khachhang/__${khachHang.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>