<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete customer</title>
</head>
<body>
<h1>Delete Song</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/song">Song list</a>
</p>
<form th:action="@{/delete}" th:object="${songObject}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name Song</td>
            <td th:text="${songObject.nameSong}"></td>
        </tr>
        <tr>
            <td>Singer: </td>
            <td th:text="${songObject.singer}"></td>
        </tr>
        <tr>
            <td>Music genre</td>
            <td th:text="${songObject.musicType}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Song"></td>
        </tr>
    </table>
</form>
</body>
</html>