<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Blog</title>
    <style th:replace="/layout :: style"></style>
    <th:block th:replace="/layout :: linkHead"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <form method="post" th:action="@{/save}" th:object="${blog}">
                <div class="modal-header">
                    <h4 class="modal-title text-primary">Thêm mới blog</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Tác giả</label>
                        <input  type="text" class="form-control" th:field="*{author}"/>
                    </div>
                    <div class="form-group">
                        <label>Nội dung</label>
                        <input  type="text" class="form-control" th:field="*{content}"/>
                    </div>
                    <div class="modal-footer">
                        <a th:href="@{/}" class="btn btn-dark">Huỷ</a>
                        <input type="submit" class="btn btn-info" value="Thêm mới">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
<th:block th:replace="/layout :: script"/>
</html>